{% extends "base.html" %}

{% block content %}

<div style="padding: 2em">
    <div style="max-width: 1000px; margin: 0 auto">
        <div class="alert alert-danger" role="alert">
            <h1> [Admin access] Give user admin privileges </h1>
            <b> Info: </b> both fields are required for user credentials check.
        </div>
        <div>
            <form method="POST" action="/admin/update-user-status">
                <div class="mb-3">
                    <label for="user_email" class="form-label"> User email </label>
                    <input type="email" placeholder="enter user email ..." name="user_email"
                           autofocus="" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="user_name" class="form-label"> User name </label>
                    <input type="text" placeholder="enter user name ..." name="user_name"
                           autofocus="" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary"> Give admin access </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}