{% extends "base.html" %}

{% block content %}

<div style="padding: 2em">
    <div style="max-width: 50em;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);">
        <div class="alert alert-success" role="alert">
            <h1> Log in </h1>
            Please <a href={{ url_for('auth.signup') }} class="alert-link"> Sign up </a> if you don't have account already.
        </div>
        <div>
            <form method="POST" action="/auth/login">
                <div class="mb-3">
                    <label for="email" class="form-label"> Email address </label>
                    <input type="email" name="email" placeholder="enter your email ..." autofocus="" class="form-control">
                    <div id="emailHelp" class="form-text"> We'll never share your email with anyone else. </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"> Password </label>
                    <input type="password" name="password" placeholder="enter your password ..." class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="remember">
                    <label class="form-check-label" for="remember"> Remember me </label>
                </div>
                <button type="submit" class="btn btn-primary"> Log in </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}